@import "../../assets/style/global.scss";
@media (min-width: $mobile) {
  .burgerMenu {
    visibility: hidden;
  }
}
.burgerMenu {
  //   position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  &_burgerLine {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    &::before,
    &::after {
      content: "";
      display: block;
      height: 3px;
      background-color: #ffffff;
    }
    &::before {
      transform: translateY(19px);
    }
    &::after {
      transform: translateY(7px);
    }
  }

  &_menuList {
    position: absolute;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 36px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease-out, opacity 0.6s ease-out;
    a {
      color: #fff;
      font-family: DM Sans;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
    }
  }
}
.open .burgerMenu_menuList {
  position: absolute;
  top: 60px;
  right: 0;
  max-height: 300px;
  opacity: 1;
}

.close .burgerMenu_menuList {
  top: 60px;
  right: 0;
  max-height: 0px;
  opacity: 0;
}
