@import "../../assets/style/global.scss";

.flexColumns_wrapper {
  position: relative;
}
.flexColumns {
  max-width: 87%;
  display: flex;
  justify-content: space-between;
  background-color: $darkGrey;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  @media (max-width: $desktop) {
    max-width: 100%;
  }
  @media (max-width: $tablet) {
    display: block;
  }

  &_card {
    padding: 36px 90px 44px 107px;
    flex: 33.3%;
    &:last-child {
      padding: 36px 190px 44px 107px;
    }
    @media (max-width: $desktop) {
      padding: 10px;
      &:last-child {
        padding: 10px;
      }
    }
    @media (max-width: $tablet) {
      padding: 35px 60px;
      &:last-child {
        padding: 35px 60px;
      }
    }
    @media (max-width: $mobile) {
      padding: 25px 30px;
      &:last-child {
        padding: 25px 30px;
      }
    }
  }
}
.card {
  &_number {
    color: $red;
    font-family: "Roboto";
    font-weight: 900;
    text-transform: uppercase;
    padding: 0px 0px 14px 0px;
  }
  &_title {
    padding: 0px 0px 14px 0px;
    color: $white;
    font-family: "DM Sans";
    font-size: 26.409px;
    font-weight: 700;
    line-height: calc(41.081 / 26.409 * 100%);
  }

  &_description {
    width: 210.109px;
    color: $darkGrey;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: calc(28 / 18 * 100%);
    letter-spacing: 0.5px;
  }
}
