@import "../../assets/style/global.scss";
.landing {
  &_container {
    margin: 0 auto;
    max-width: 74.69vw;
    max-height: 808px;

    @media (max-width: $mobile) {
      max-width: 90vw;
    }
  }
  &_title {
    margin: 195px 0px 240px 0px;
    @media (max-width: $tablet) {
      margin: 110px 0px 70px 0px;
      overflow: hidden;
    }
    @media (max-width: $mobile) {
      margin: 95px 0px 50px 0px;
    }
  }
}
.title_text {
  margin: 0px 0px 20px 0px;
}
.additionalLinks {
  position: relative;
  top: -165px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  height: 131px;
  width: 131px;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  @media (max-width: $tablet) {
    left: 70px;
  }
  @media (max-width: $mobile) {
    display: none;
  }

  a {
    white-space: nowrap;
    color: $white;
    text-decoration: none;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    font-family: "DM Sans";
    font-weight: 700;
  }
}
