// ===fonts===
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Roboto:ital,wght@1,900&display=swap");

// ===reset styles===
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// ===global-colors===
$white: #fff;
$grey: #ccc;
$darkGrey: #939393;
$colorLinksMenu: #f5f5f5;
$red: #dd2242;
$linear-gradient_darkBlue: rgba(1, 132, 149, 0) 0%;
$linear-gradient_blue: #018394 100%;

// ===global-media===
$mobile: 767px;
$tablet: 1024px;
$desktop: 1279px;
$large-desktop: 1280px;
// $large-desktop: 1280px;

.container {
  margin: 0 auto;
  max-width: 74.69vw;

  // @media (max-width: $large-desktop) {
  //   max-width: 85.69vw;
  // }
  // @media (max-width: $desktop) {
  //   max-width: 95.69vw;
  // }
  @media (max-width: $mobile) {
    max-width: 90vw;
  }
}

.wrapper {
  // position: relative;
  // max-height: 1080px;
}
