@import "../../assets/style/global.scss";

.wrapperBtn {
  display: flex;
  align-items: center;
  height: 82px;
  @media (max-width: $mobile) {
    display: block;
    height: 42px;
  }
}
.buttonMain {
  max-width: 271px;
  padding: 26px 65px;
  white-space: nowrap;
  border-radius: 211px;
  border: 1px solid #000;
  background: $red;

  color: $white;
  text-decoration: none;
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: calc(30 / 20 * 100%);
  @media (max-width: $mobile) {
    display: block;
    white-space: nowrap;
    max-width: 100%;
    padding: 5px 10px;
    text-align: center;
  }
}
.additionalButton {
  color: $white;
  text-decoration: none;
  padding: 16px 24px;
  align-items: center;
  border-radius: 32px;
  background: $red;
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: calc(30 / 20 * 100%);
  @media (max-width: $mobile) {
    // padding: 0px;
    color: black;
  }
}
