.OurHillsBlock {
  position: relative;
  padding: 225px 0px 256px 0px;
  &_background {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-image: url("../../assets/images/backgrounds/OurHillsBlockBackground.svg");
    background-position: bottom;
    background-repeat: no-repeat;
  }
  &_title {
    max-width: 500px;
    text-align: center;
    margin: 32px auto;
  }
  &_content {
    max-width: 450px;
    margin: 36px auto;
  }
  &_link {
    max-width: 190px;
    margin: 0 auto;
  }
}
