@import "../../assets/style/global.scss";

.slider {
  position: relative;
  max-width: 75%;
  margin: 0 auto;
  overflow: hidden;

  .sliderBackground {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/backgrounds/sliderBackground\ 1.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .sliderImages {
    position: relative;
    display: flex;
    column-gap: 20px;
    justify-content: flex-start;
    max-width: 455px;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;
  }

  .image {
    height: 260px;
    border-radius: 10px;
    background-position: center;
    background-size: contain;
    min-width: 405px;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: $tablet) {
      background-color: red;
    }
  }

  .arrows {
    position: absolute;
    top: 43%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .arrow {
    position: absolute;
    width: 15px;
    height: 25px;
    cursor: pointer;
  }

  .arrowPrev {
    position: relative;
    background-image: url("../../assets/images/icons/sliderArrowIcon/left.svg");
    background-position: center;
    background-repeat: no-repeat;
    left: 0px;
  }

  .arrowNext {
    position: relative;
    background-image: url("../../assets/images/icons/sliderArrowIcon/right.svg");
    background-position: center;
    background-repeat: no-repeat;
    right: 0px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .active {
    background-color: #dd2242;
    width: 50px;
    transition: all 0.5s ease-in-out;
  }
}
