@import "../../assets/style/global.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 140px 0 40px;

  .logo {
    position: relative;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    margin-right: 68px;
    align-items: center;
    color: white;
    text-transform: uppercase;
    max-width: 180px;
    &::after {
      content: "";
      width: 100%;
      position: absolute;
      height: 20px;
      bottom: -4px;
      left: 20px;
      transform: translate(-13px);

      background: linear-gradient(
        180deg,
        $linear-gradient_darkBlue,
        $linear-gradient_blue
      );
    }
  }
  img {
    max-width: 49.026px;
    height: 49px;
    flex-shrink: 0;
  }
  .textLogo {
    padding-left: 5px;
    font-size: 23.961px;
    font-weight: 900;
    font-family: Roboto;
  }
}

.menu {
  width: 100%;
}
.headerLinks {
  margin-right: 62px;
  color: #fff;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  @media (max-width: $large-desktop) {
    margin-right: 32px;
  }
  @media (max-width: $tablet) {
    margin-right: 10px;
  }
  @media (max-width: $mobile) {
    margin-right: 0px;
    display: none;
  }
  &:last-child {
    margin: 0;
  }
}
.navigationMenu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .search {
    margin: 0px 40px 0px 0px;
    cursor: pointer;
    img {
      width: 24px;
      height: 24px;
    }
  }
}
