@import "../../assets/style/global.scss";

.SliderBlockSecrets {
  .SliderBlockBackground {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/ backgrounds/sliderBackground.jpg");
  }
  .sliderTitle {
    margin: 127px 0px 44px 0px;
    color: $dblue;
    text-align: center;
    font-family: "DM Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(75 / 50 * 100%);
  }
  .sliderSecret {
    margin: 0px 0px 886px 0px;
  }
}
