@import "../../assets/style/global.scss";

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;

  .sliderImages {
    display: flex;
    justify-content: space-between;
    max-width: 93.4%;
    /* 
    кількість   слайдів помножити на 100% */
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;
  }

  .image {
    // width: 405px;
    height: 260px; /* Змініть це на висоту слайду, яку ви хочете */
    // margin: 0 2.8% 0 0;
    border-radius: 10px;
    background-position: center;
    background-size: contain;
    // width: 33.3%;
    min-width: 33.3%;
    // @media (max-width: $tablet) {

    // }
  }

  .arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .arrow {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .arrowPrev {
    left: 10px;
  }

  .arrowNext {
    right: 10px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
  }

  .active {
    background-color: #717171;
  }
}
