@import "../../assets/style/global.scss";

.sliderTitle {
  margin: 127px 0px 44px 0px;
  color: $dblue;
  text-align: center;
  font-family: "DM Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 75px */
}
