@import "../../assets/style/global.scss";

.slider {
  position: relative;
  max-width: 75%;
  margin: 0 auto;
  overflow: hidden;

  .sliderBackground {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/backgrounds/sliderBackground\ 1.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .sliderTitle {
    margin: 127px 0px 44px 0px;
    color: $dblue;
    text-align: center;
    font-family: "DM Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 75px */
  }
  .sliderImages {
    display: flex;
    column-gap: 20px;
    justify-content: flex-start;
    max-width: 455px;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;
  }

  .image {
    height: 260px; /* Змініть це на висоту слайду, яку ви хочете */
    border-radius: 10px;
    background-position: center;
    background-size: contain;
    min-width: 405px;
    @media (max-width: $tablet) {
      background-color: red;
    }
  }

  .arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .arrow {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .arrowPrev {
    left: 0px;
  }

  .arrowNext {
    right: 0px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .active {
    background-color: #dd2242;
    width: 50px;
    transition: all 0.5s ease-in-out;
  }
}
