@import "../../assets/style/global.scss";

.PhotoGalleryBlock {
  &_wrapper {
    max-width: 74.69vw;
    margin: 0 auto;
    text-align: center;
    padding: 0px 0px 230px 0px;
    @media (max-width: $mobile) {
      padding: 0px 0px 30px 0px;
    }
  }
  &_textBlock {
    margin: 0px 0px 71px 0px;
    @media (max-width: $mobile) {
      margin: 0px 0px 30px 0px;
    }
  }
  &_title {
    padding: 177px 0px 41px 0px;
    @media (max-width: $tablet) {
      padding: 90px 0px 0px 0px;
    }
  }
  &_text {
    max-width: 511px;
    margin: 0 auto;
  }
}
