@import "../../assets/style/global.scss";
.search {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  @media (max-width: $tablet) {
    margin: 0px 40px 0px 0px;
  }
  cursor: pointer;

  img {
    position: absolute;
    width: 24px;
    height: 22px;
  }
  .searchInput {
    fill: red;
  }
}
.inputSearchWrapper {
  position: relative;
}
.inputSearch {
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 5px 15px;
  margin-left: 35px;
  &_icon {
    position: absolute;
    right: 10px;
    width: 20px;
    cursor: pointer;
  }

  @media (max-width: $desktop) {
    // height: 20px;
    // width: 140px;
    margin: 0px 0px 0px 0px;
  }

  @media (max-width: $tablet) {
    width: 70px;
  }
}
