@import "../../assets/style/global.scss";
.container {
  margin: 0 auto;
  max-width: 74.69vw;

  @media (max-width: $mobile) {
    max-width: 90vw;
  }
}
.text {
  &_title {
    padding: 215px 0px 0px 0px;
  }
}
.imageText {
  background-color: rgb(0, 0, 0.5);
}
