@import "../../assets/style/global.scss";

.LiveLikeBlock {
  // background-color: red;
  &_wrapper {
    max-width: 74.69vw;
    margin: 0 auto;
  }
  &_title {
    max-width: 1056px;
    margin: 0 auto;
    padding: 140px 0px 111px 0px;
    text-align: center;
    line-height: calc(50 / 42 * 100%);
  }
  &_video {
    margin: 0 auto;
    max-width: 1056px;
    padding: 0px 0px 125px 0px;
  }
  &_wrapperCard {
    display: flex;
  }
}

.wrapperCard {
  &_card {
    display: flex;
  }
}
.card_text {
}
