.slider {
  &_background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 1080px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        193deg,
        rgba(0, 0, 0, 0.31) 0%,
        rgba(0, 0, 0, 0.29) 100%
      );
    }
  }
  &_dynamic {
    width: "4px";
    background-color: "#DD2242";
    position: "absolute";
    top: 233;
    left: 70;
    transition: "width 0.5s ease-in-out";
  }
  &_line {
    background-color: #fff;
    width: 2px;
    height: 296px;
    position: absolute;
    top: 233px;
    left: 71px;
    z-index: -1;
  }
  &_number {
    color: white;
    position: absolute;
    transform: rotate(-90deg);
    top: 544px;
    left: 62px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    font-family: "DM Sans";
    font-weight: 700;
  }
}
